<!DOCTYPE html>
<html lang="en" data-theme="garden">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | About</title>

    <!-- icons -->
    <script src="https://kit.fontawesome.com/d2a9bab36d.js" crossorigin="anonymous"></script>
    <!-- daisyui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" />
    <!-- tailwindcss -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style type="text/tailwindcss">
        @media (max-width: 768px) {
            #nav {
                display: none;
            }

            #header-content {
                @apply gap-2 w-11/12;
            }
        }

    </style>
</head>

<body>
    <header class="bg-base-300 py-4">
        <div id="header-content" class="flex flex-row gap-10 justify-between items-center w-3/4 mx-auto">
            <!-- Sidebar Toggle Button -->
            <button id="toggleSidebar" class="btn btn-primary rounded-lg btn-lg md:hidden">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- logo -->
            <div id="logo-header">
                <img src="../img/header-logo2-nobg.png" alt="header logo" width="150">
            </div>

            <!-- navigation -->
            <nav id="nav" class="flex-5 flex flex-row flex-wrap justify-center">
                <a href="#" class="btn btn-ghost hover:bg-base-100 rounded-none py-2 px-6">HOME</a>
                <a href="../about/about.html" class="btn btn-ghost hover:bg-base-100 rounded-none py-2 px-6">ABOUT</a>
                <a href="../about/about.html" class="btn btn-ghost hover:bg-base-100 rounded-none py-2 px-6">CONTACT</a>
                <a href="#" class="btn btn-ghost hover:bg-base-100 rounded-none py-2 px-6">QNA</a>
                <a href="#" class="btn btn-ghost hover:bg-base-100 rounded-none py-2 px-6">NEWS</a>
            </nav>

            <!-- profile/login, cart -->
            <div id="profile" class="min-w-fit flex flex-col gap-4 items-center">
                <!-- profile -->
                <div class="dropdown">
                    <div tabindex="0" role="button" class="flex items-center gap-4 cursor-pointer">
                        <div class="avatar">
                            <div class="w-12 rounded-full">
                                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                            </div>
                        </div>

                        <div class="username flex gap-2 items-center">
                            <span>Linh Thinh</span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                        <li>
                            <a class="justify-between">
                                Profile
                                <!-- <span class="badge">New</span> -->
                            </a>
                        </li>
                        <li><a>Settings</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </div>


                <!-- login / register (replaced by profile after logged in) -->
                <!-- <div id="login-register" class="flex-none flex items-center gap-6 justify-center">
                    <a href="../account/login.html">Login</a>
                    <a href="../account/register.html" class="btn btn-primary rounded-md">Register</a>
                </div> -->

                <!-- cart -->
                <!-- <a href="#" class="btn btn-outline btn-primary rounded-lg btn-lg">
                    <i class="fas fa-shopping-cart"></i>
                    Cart
                </a> -->
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="fixed top-0 left-0 w-64 h-full bg-white shadow-lg transform -translate-x-full transition-transform duration-300 z-50">
        <div class="border-b flex justify-between items-center p-4">
            <h2 class="text-lg font-bold">MENU</h2>
            <button id="closeSidebar" class="btn btn-ghost">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <nav class="flex flex-col">
            <a href="../home/home.html" class="btn btn-ghost rounded-none py-6">Home</a>
            <a href="../about/about.html" class="btn btn-ghost rounded-none py-6">About</a>
            <a href="#" class="btn btn-ghost rounded-none py-6">QnA</a>
            <a href="#" class="btn btn-ghost rounded-none py-6">News</a>
            <a href="../account/login.html" class="btn btn-outline mx-4 my-2">Profile</a>
            <!-- <a href="../account/register.html" class="btn mx-4 my-2">Register</a> -->
        </nav>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="hidden fixed inset-0 z-40"></div>

    <div id="body" class="m-6 md:w-3/4 md:mx-auto md:px-20 flex flex-col gap-8">
        <h2 class="text-3xl font-bold text-center">Content Manager</h2>
        <h3 class="text-xl font-semibold text-center text-secondary">ABOUT</h3>

        <!-- Hero Section -->
        <form action="" method="POST">
            <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
                <legend class="fieldset-legend text-xl">Introduction</legend>

                <!-- <div class="flex justify-end">
                    <label class="fieldset-label flex items-center gap-2">
                        Hidden
                        <input type="checkbox" checked="checked" class="toggle" />
                        Display
                    </label>
                </div> -->

                <label class="fieldset-label">Logo</label>
                <input type="file" class="file-input file-input-md w-full" />

                <label class="fieldset-label">Slogan</label>
                <input type="text" class="input w-full" value="Treats & Sweets In A Nutshell" />

                <label class="fieldset-label">Banner image</label>
                <input type="file" class="file-input file-input-md w-full" />

                <!-- <legend class="fieldset-legend text-xl">Our story</legend> -->

                <label class="fieldset-label">About us</label>
                <textarea class="textarea w-full rounded-lg" placeholder="Introduction">Welcome to **Sweet Delights**, where we bring your sweetest dreams to life. Founded in 2010, our bakery has been crafting cakes with fresh, high-quality ingredients to create flavors that delight your taste buds. Whether it’s a birthday, wedding, or a simple treat, we bake with love in every bite.
                </textarea>

                <button type="submit" class="btn btn-success mt-4 w-1/4 mx-auto">Save</button>
            </fieldset>


            <!-- Our story -->
            <!-- <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
                <legend class="fieldset-legend text-xl">Our story</legend>

                <label class="fieldset-label">Sub-title</label>
                <textarea class="textarea w-full rounded-lg" placeholder="Introduction">Welcome to **Sweet Delights**, where we bring your sweetest dreams to life. Founded in 2010, our bakery has been crafting cakes with fresh, high-quality ingredients to create flavors that delight your taste buds. Whether it’s a birthday, wedding, or a simple treat, we bake with love in every bite.
                </textarea>
            </fieldset> -->
        </form>

        
        <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
            <legend class="fieldset-legend text-xl">Our partners</legend>

            <div id="teamContainer" class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div class="team-member p-6 bg-gray-50 rounded-lg shadow-md text-center">
                    <form action="" method="POST" class="flex flex-col items-center"></form>
                        <label class="fieldset-label">Logo</label>
                        <input type="file" class="file-input file-input-sm w-full" />

                        <label class="fieldset-label">Name</label>
                        <input type="text" class="input w-full" value="Microsoft" />

                        <!-- <label class="fieldset-label">Position</label>
                        <input type="text" class="input w-full" value="Head Chef" /> -->

                        <div class="mt-3">
                            <button onclick="deleteMember(this)" class="btn btn-sm btn-error">Delete</button>
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        
            <!-- Add New Team Member Button -->
            <div class="mt-4 flex justify-center">
                <button onclick="add_member_modal.showModal()" class="btn btn-primary">Add Team Member</button>
                <dialog id="add_member_modal" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>

                    <h3 class="text-xl font-semibold text-center">Partner info</h3>
                    
                    <form action="" method="POST" class="flex flex-col items-center"></form>
                        <label class="fieldset-label">Logo</label>
                        <input type="file" class="file-input file-input-sm w-full"/>

                        <label class="fieldset-label">Name</label>
                        <input type="text" class="input w-full"/>
<!-- 
                        <label class="fieldset-label">Position</label>
                        <input type="text" class="input w-full"/> -->

                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-success px-10">Save</button>
                        </div>
                    </form>
                </div>
                </dialog>
            </div>
        </fieldset>

    </div>

    <footer class="footer sm:footer-horizontal bg-base-300 text-base-content p-10 lg:px-40">
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Social</h6>
            <div class="grid grid-flow-col gap-4">
                <a>
                    <i class="fa-solid fa-map-location-dot fa-2xl"></i>
                </a>
                <a>
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                </a>
                <a>
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                </a>
            </div>
        </nav>
    </footer>


    <script>
        // toggle sidebar
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");
        const toggleBtn = document.getElementById("toggleSidebar");
        const closeBtn = document.getElementById("closeSidebar");

        function openSidebar() {
            sidebar.classList.remove("-translate-x-full");
            overlay.classList.remove("hidden");
        }

        function closeSidebar() {
            sidebar.classList.add("-translate-x-full");
            overlay.classList.add("hidden");
        }

        toggleBtn.addEventListener("click", openSidebar);
        closeBtn.addEventListener("click", closeSidebar);
        overlay.addEventListener("click", closeSidebar);

        // Close sidebar on Escape key press
        document.addEventListener("keydown", (e) => {
            if (e.key === "Escape") closeSidebar();
        });


        // Delete Team Member
        function deleteMember(button) {
            let teamCard = button.closest(".team-member");
            teamCard.remove();
        }
    </script>

</body>

</html>